EB_IP=10.10.55.101
EB_PORT=2883
EB_CLIENT_ID=dte-energy-bridge
EB_USERNAME=
EB_PASSWORD=

TARGET_MQTT_URL=mqtt://core-mosquitto:1883
TARGET_MQTT_CLIENT_ID=dte-energy-bridge-target
TARGET_MQTT_USERNAME=
TARGET_MQTT_PASSWORD=

HA_DISCOVERY_ENABLED=true
